@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(160, 255, 157);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 134, 0);
}

h1#principal{
    text-align: center;
    background-color: rgb(4, 134, 0);
    color: white;
}

h2 {
    color: rgb(72, 105, 71);
}

.basico {
    color: #3a9b36;
}

.inter {
    color: #999b36;
}

.avancado {
    color: #9b3636;
}

.destaque {
    background-color: #f0f325;
}